{{ define "Header" }}
    <!DOCTYPE html>
    <html lang="en-US">
        <head>
            <title>Golang CURD</title>
            <meta charset="UTF-8">
        </head>
        <body>
            <h1>Golang CURD</h1>
{{ end }}
